## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [19]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos_mat'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos_por'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos_geo'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos_ing'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos_hist'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos_fis'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos_qui'])

In [26]:
# 1) Seu código aqui
df = pd.concat([df_mat,df_por,df_geo,df_ing,df_his,df_fis,df_qui], axis=1)
df['pct_acertos_mat'] = round(((df['Qt_acertos_mat']/24)*100),2)
df['pct_acertos_por'] = round(((df['Qt_acertos_por']/18)*100),2)
df['pct_acertos_geo'] = round(((df['Qt_acertos_geo']/8)*100),2)
df['pct_acertos_ing'] = round(((df['Qt_acertos_ing']/8)*100),2)
df['pct_acertos_hist'] = round(((df['Qt_acertos_hist']/8)*100),2)
df['pct_acertos_fis'] = round(((df['Qt_acertos_fis']/12)*100),2)
df['pct_acertos_qui'] = round(((df['Qt_acertos_qui']/12)*100),2)
df

,Qt_acertos_mat,Qt_acertos_por,Qt_acertos_geo,Qt_acertos_ing,Qt_acertos_hist,Qt_acertos_fis,Qt_acertos_qui,pct_acertos_mat,pct_acertos_por,pct_acertos_geo,pct_acertos_ing,pct_acertos_hist,pct_acertos_fis,pct_acertos_qui
0,6,7,7,3,1,8,3,25.00,38.89,87.5,37.5,12.5,66.67,25.00
1,19,10,0,0,0,11,8,79.17,55.56,0.0,0.0,0.0,91.67,66.67
2,14,16,0,5,7,4,4,58.33,88.89,0.0,62.5,87.5,33.33,33.33
3,10,7,3,4,0,0,8,41.67,38.89,37.5,50.0,0.0,0.00,66.67
4,7,2,2,7,0,9,3,29.17,11.11,25.0,87.5,0.0,75.00,25.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,6,4,7,1,4,9,3,25.00,22.22,87.5,12.5,50.0,75.00,25.00
96,8,1,4,6,1,4,3,33.33,5.56,50.0,75.0,12.5,33.33,25.00
97,23,5,0,2,4,1,5,95.83,27.78,0.0,25.0,50.0,8.33,41.67
98,0,10,3,1,5,10,11,0.00,55.56,37.5,12.5,62.5,83.33,91.67
99,11,15,0,1,6,7,2,45.83,83.33,0.0,12.5,75.0,58.33,16.67

In [43]:
# 2) Seu código aqui
df['total_acertos'] = df.loc[:,'Qt_acertos_mat':'Qt_acertos_qui'].sum(axis=1)
df

,Qt_acertos_mat,Qt_acertos_por,Qt_acertos_geo,Qt_acertos_ing,Qt_acertos_hist,Qt_acertos_fis,Qt_acertos_qui,pct_acertos_mat,pct_acertos_por,pct_acertos_geo,pct_acertos_ing,pct_acertos_hist,pct_acertos_fis,pct_acertos_qui,total_acertos
0,6,7,7,3,1,8,3,25.00,38.89,87.5,37.5,12.5,66.67,25.00,35
1,19,10,0,0,0,11,8,79.17,55.56,0.0,0.0,0.0,91.67,66.67,48
2,14,16,0,5,7,4,4,58.33,88.89,0.0,62.5,87.5,33.33,33.33,50
3,10,7,3,4,0,0,8,41.67,38.89,37.5,50.0,0.0,0.00,66.67,32
4,7,2,2,7,0,9,3,29.17,11.11,25.0,87.5,0.0,75.00,25.00,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,6,4,7,1,4,9,3,25.00,22.22,87.5,12.5,50.0,75.00,25.00,34
96,8,1,4,6,1,4,3,33.33,5.56,50.0,75.0,12.5,33.33,25.00,27
97,23,5,0,2,4,1,5,95.83,27.78,0.0,25.0,50.0,8.33,41.67,40
98,0,10,3,1,5,10,11,0.00,55.56,37.5,12.5,62.5,83.33,91.67,40
99,11,15,0,1,6,7,2,45.83,83.33,0.0,12.5,75.0,58.33,16.67,42

In [45]:
# 3) Seu código aqui
df['pct_acertos'] = round((df['total_acertos']/90)*100,2)
df

,Qt_acertos_mat,Qt_acertos_por,Qt_acertos_geo,Qt_acertos_ing,Qt_acertos_hist,Qt_acertos_fis,Qt_acertos_qui,pct_acertos_mat,pct_acertos_por,pct_acertos_geo,pct_acertos_ing,pct_acertos_hist,pct_acertos_fis,pct_acertos_qui,total_acertos,pct_acertos
0,6,7,7,3,1,8,3,25.00,38.89,87.5,37.5,12.5,66.67,25.00,35,38.89
1,19,10,0,0,0,11,8,79.17,55.56,0.0,0.0,0.0,91.67,66.67,48,53.33
2,14,16,0,5,7,4,4,58.33,88.89,0.0,62.5,87.5,33.33,33.33,50,55.56
3,10,7,3,4,0,0,8,41.67,38.89,37.5,50.0,0.0,0.00,66.67,32,35.56
4,7,2,2,7,0,9,3,29.17,11.11,25.0,87.5,0.0,75.00,25.00,30,33.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,6,4,7,1,4,9,3,25.00,22.22,87.5,12.5,50.0,75.00,25.00,34,37.78
96,8,1,4,6,1,4,3,33.33,5.56,50.0,75.0,12.5,33.33,25.00,27,30.00
97,23,5,0,2,4,1,5,95.83,27.78,0.0,25.0,50.0,8.33,41.67,40,44.44
98,0,10,3,1,5,10,11,0.00,55.56,37.5,12.5,62.5,83.33,91.67,40,44.44
99,11,15,0,1,6,7,2,45.83,83.33,0.0,12.5,75.0,58.33,16.67,42,46.67

In [52]:
# 4) Seu código aqui
df[df['total_acertos']>=45].shape[0]

34

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [60]:
# seu código aqui
df_sem_zerado = df[(df['Qt_acertos_mat'] != 0) & (df['Qt_acertos_fis'] != 0) & (df['Qt_acertos_qui'] != 0)]
print(df_sem_zerado['Qt_acertos_hist'].mean())
print(df_sem_zerado['Qt_acertos_geo'].mean())

3.6493506493506493
3.4025974025974026

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [1]:
arquivo = 'https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIPNI/COVID/uf/uf%3DAC/part-00000-5ed92752-6121-474f-ab37-816918134afc.c000.csv'

In [ ]:
# 1) Sua solução aqui

In [ ]:
# 2)

In [ ]:
# 3)

In [ ]:
# 3) solução alternativa

In [ ]:
# 4)

In [ ]:
# 5)

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [ ]:
# 1)

In [ ]:
# 2)

In [ ]:
# 3)

In [ ]:
# 4)

In [ ]:
# 5)